$background-color: #F6F4EB;
$textColor: #FFFF;
$titleColor: #728D9A;
$headerColor: #8A8675;
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}